
<div class="bg-no-repeat bg-size-[100%_100%] bg-top-left size-full" data-name="What Does Primer Do: Everything You Need To Know About This Makeup Essential" data-node-id="4:287" style="background-image: url('{{ section.settings.image | image_url }}')">
</div>

{% schema %}
  {
    "name": "Vision Section",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      }
    ],
    "presets": [
      {
        "name": "Vision Section"
      }
    ]
  }
{% endschema %}
